*.c text eol=lf
*.h text eol=lf
*.ld text eol=lf
*.s text eol=lf

# Prevent auto trimming of trailing spaces or tabs
*.c -text
*.h -text

# Ignore build output from language stats
Debug/** linguist-vendored
Release/** linguist-vendored

# Tell GitHub Linguist which folders are your own code
Src/* linguist-language=C
Inc/* linguist-language=C

# Mark startup assembly as generated to reduce its weight
Startup/* linguist-generated

# # Optional: exclude IDE/debug folders from language stats
# .metadata/* linguist-vendored
# .settings/* linguist-vendored
