*.c text eol=lf
*.h text eol=lf
*.ld text eol=lf
*.s text eol=lf

# Prevent auto trimming of trailing spaces or tabs
*.c -text
*.h -text

# Ignore build output from language stats
Debug/** linguist-vendored
Release/** linguist-vendored

# Count linker script as C (optional)
*.ld linguist-language=C